.App {
  padding: 20px;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: salmon;
}

.blog-post{
  padding: 20px;
  display: contents;
  color: hotpink;
}

.copyright {
  background-color: #342833;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
